@import "tailwindcss";

@layer utilities {
  /* Transparent scrollbar */
  .transparent-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .transparent-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
  }

  .transparent-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-60%);
    }
  }

  .animate-scroll {
    animation: scroll 20s linear infinite;
  }

  .pause-on-hover:hover {
    animation-play-state: paused;
  }
}

body {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Winky Sans", sans-serif;
}

/* body:hover {
  overflow: auto;
} */

.emerald {
  color: rgb(0, 138, 92);
}

.zinc {
  color: rgb(88, 88, 88);
}

.red {
  color: rgb(172, 15, 15);
}

.blue {
  color: rgb(38, 87, 250);
}

.gray {
  color: rgb(88, 88, 88);
}
