@import "tailwindcss";

@layer utilities {
  /* Transparent scrollbar */
  .transparent-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .transparent-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
  }

  .transparent-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
}

body {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Winky Sans", sans-serif;
}

/* body:hover {
  overflow: auto;
} */
