.jcm-container {
  background-image: url(../../public/background-JCM.png);
  height: 460px;
  width: auto;
  padding: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.jcm-container h1 {
  font-size: 50px;
}

.jcm-container button {
  background-color: maroon;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

p {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 20px;
}

.jcm-sec-2 {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.jcm-sec-2 img {
  width: 30%;
  height: 300px;
}

.jcm-sec-2 div {
  width: 40%;
  font-size: 18px;
}

.jcm-sec-3 p {
  font-size: 16px;
  font-weight: 400;
}
