.MenuBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
}

.MenuBar ul {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.MenuBar ul li {
  padding: 5px;
  list-style-type: none;
  border: 1px solid gray;
  border-radius: 5px;
}

.MenuBar button {
  padding: 10px;
  background-color: rgb(8, 8, 109);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}
